.button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    background: none;
    outline: none;
    border: none;
}
.outline {
  padding: 10px;
  border: 2px solid var(--primary-color);
  color:var(--primary-color);
  background: none;
}
