.app_dark_theme {
    --bg-color: rgb(4 4 137);
    --inverted-bg-color: rgb(189 189 197);
    --primary-color: rgb(6 190 6);
    --secondary-color: rgb(2 94 2);
    --inverted-primary-color: rgb(25 3 196);
    --inverted-secondary-color: rgb(8 41 209);
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
    --code-bg: #cecee0;
    --card-bg: rgb(20 20 161);
}
