.app.dark {
    --bg-color: rgb(4 4 137);
    --inverted-bg-color: rgb(189 189 197);
    --primary-color: rgb(6 190 6);
    --secondary-color: rgb(2 94 2);
    --iverted-primary-color: rgb(25 3 196);
    --inverted-secondary-color: rgb(8 41 209);
}
