:root {
    --bg-color: rgb(189 189 197);
    --inverted-bg-color: rgb(4 4 137);
    --primary-color: rgb(25 3 196);
    --secondary-color: rgb(8 139 209);
    --inverted-primary-color: rgb(2 116 2);
    --inverted-secondary-color: rgb(3 200 3);
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);
    --code-bg: #9393a1;
}
